@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #ededed;
  --color-gray-500: #c3c3c3;
  --color-green-500: #09874d;
  --color-error: #a30d0d;
  --body-font: 'Roboto';
  --heading-font: 'Roboto';
  --font-bold: 700;
  --font-semibold: 600;
}

html {
  font-family: var(--body-font);
  color: var(--color-black);
}